.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 
    margin-bottom: 50px;
}

header {
    font-size: 25px;
    text-align: center;
    margin-bottom: 66px;
    border: 1px solid #000000;
}

.instruct {
    text-align: center;
    border: 1px solid #000000;
    margin-bottom: 66px;
}

input {
    font-size: larger;
}

.upload {
    text-align: center;
    margin-bottom: 66px;
}